{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<html>

<head>
    <link rel="stylesheet" href="{% static 'clientes/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'clientes/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'clientes/fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'clientes/css/estilo.css' %}">
    <script src="{% static 'clientes/js/bootstrap.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    
</head>

<body>
    <div class='topMenu'>
        <div>
            <h1 class='maiorTitulo'>Clínica Médica MedClin</h1>
        </div>
        <p class='linksMenu'>
            {% if user.is_authenticated %} 
            Bem-vindo {{ user.username }} |
            <a href="/">Homepage</a> | 
            
            <a href="{% url 'sec-logout' %}">Logout</a> |
            <a href="{% url 'clientes:lista-clientes' %}">Clientes</a> |
            <a href="{% url 'sec-paginaProfile' %}">Membros</a> |
            {% else %}
            Bem-vindo visitante |
            <a href="/">Homepage</a> | 
            <a href="{% url 'clientes:verifica-cliente' %}">Clientes</a> |
            <a href="{% url 'sec-login' %}">Membros</a> |
            
            {% endif %} 
            <hr>
            <div class='homePage'>
                {% block conteudo %}{% endblock %}
            </div>
        </p>
    </div>
</body>
{% block script %}{% endblock %}
</html>