{% extends 'clientes/base.html' %}
{% block titulo %}Registro de Usuário{% endblock %}
{% block conteudo %}
    <table class='lista'> 
        <tr><th>Nome</th><th>CPF</th><th>Telefone</th><th>Data de Nascimento</th><th>Plano de Benefícios</th><th>Ações disponíveis</th></tr> 
        {% for pessoa in pessoas %} 
            <tr> 
                <td>{{ pessoa.nome }}</td><td>{{ pessoa.CPF }}</td><td>{{ pessoa.telefone }}</td><td>{{ pessoa.dtNasc }}</td><td>{{ pessoa.plano }}</td> 

                <td><a href="{% url 'clientes:atualiza-cliente' pk=pessoa.CPF %}"> Atualizar</a> |  
                    <a href="{% url 'clientes:apaga-cliente' pk=pessoa.CPF %}">    Excluir  </a> |
                    <a href="{% url 'clientes:consultas-cliente' pk=pessoa.CPF %}">    Consultas  </a>
                </td> 
           </tr> 
        {% empty %} 
            <tr><th colspan="4">Ainda não tem clientes cadastrados</th></tr> 
        {% endfor %} 
    </table>
{% endblock%}
{% block script %}
<script>
    $(document).ready(function()
    {
    $("tr:odd").css({
        "background-color":"#dff"});
    });
</script>
{% endblock %}