{% extends 'clientes/base.html' %}
{% block titulo %}Registro de Planos de Benefícios{% endblock %}
{% block conteudo %}
    <table> 
        <tr><th>Nome</th><th>Percentual de Desconto</th><th>Ações disponíveis</th></tr> 
        {% for plano in planos %} 
            <tr> 
                <td>{{ plano.nome }}</td><td>{{ plano.desconto }}</td> 

                <td><a href="{% url 'clientes:atualiza-plano' pk=plano.id %}"> Atualizar</a> |  
                    <a href="{% url 'clientes:apaga-plano' pk=plano.id %}">    Excluir  </a>
                </td> 
           </tr> 
        {% empty %} 
            <tr><th colspan="4">Ainda não tem planos cadastrados</th></tr> 
        {% endfor %} 
    </table>
{% endblock%}