{% extends 'clientes/base.html' %}
{% block titulo %}Registro de Usuário{% endblock %}
{% block conteudo %}
    <table> 
        <tr><th>Nome</th><th>Telefone</th><th>Data de Nascimento</th><th>Ações disponíveis</th></tr> 
        {% for pessoa in pessoas %} 
            <tr> 
                <td>{{ pessoa.nome }}</td><td>{{ pessoa.telefone }}</td><td>{{ pessoa.dtNasc }}</td> 

                <td><a href="{% url 'clientes:atualiza-cliente' pk=pessoa.CPF %}"> Atualizar</a> |  
                    <a href="{% url 'clientes:apaga-cliente' pk=pessoa.CPF %}">    Excluir  </a>
                </td> 
           </tr> 
        {% empty %} 
            <tr><th colspan="4">Ainda não tem clientes cadastrados</th></tr> 
        {% endfor %} 
    </table>
{% endblock%}