{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'clientes/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'clientes/fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'clientes/css/estilo.css' %}">
    <script src="{% static 'clientes/js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class='topMenu'>
        <div>
            <h1 class='maiorTitulo'>Clínica Médica MedClin - Área de Membros</h1>
        </div>
        <div class='linksMenu'>
            <a href="/">Homepage</a> | 
            {% if user.is_authenticated %} 
            <a href="{% url 'sec-logout' %}">Logout</a> |
            <a href="{% url 'sec-password_change' %}">Trocar senha</a> |
            <a href="{% url 'clientes:lista-clientes' %}">Clientes</a> |
            <a href="{% url 'sec-paginaProfile' %}">Gestão</a> |
            Bem-vindo {{ user.username }}
            {% else %}
            <a href="{% url 'clientes:verifica-cliente' %}">Clientes</a> |
            <a href="{% url 'sec-registro' %}">Registrar</a> |
            <a href="{% url 'sec-login' %}?next={% url 'sec-paginaProfile' %}">Login</a> |
            Bem-vindo visitante !
            {% endif %} 
        </div>
        <div class='areaCliente'>

            <hr>
            {% block conteudo %}{% endblock %}
        </div>
    </div>
</body>
{% block script %}{% endblock %}
</html>