{% extends 'ClubeDeBeneficios/home.html' %}
{% block titulo %}Consultar Agenda do Cliente{% endblock %}
{% block conteudo %}
    <h1>PLANOS DE BENEFÍCIOS DISPONÍVEIS</h1>
    <table class='lista'> 
        <tr><th>Nome</th><th>Percentual de Desconto</th> 
        {% for plano in planos %} 
            <tr> 
                <td>{{ plano.nome }}</td><td>{{ plano.desconto }}</td> 
            </tr> 
        {% empty %} 
            <tr><th colspan="4">Ainda não tem planos cadastrados</th></tr> 
        {% endfor %} 
    </table>
    <br>
    <br>

    <h1>CONSULTAS DISPONÍVEIS</h1>
    <table class='lista'> 
        <tr><th>Especialidade</th><th>Data</th><th>Horário</th><th>Valor</th></tr> 
        {% for consulta in consultas %} 
            <tr> 
                <td>{{ consulta.especialidade }}</td><td>{{ consulta.data }}</td><td>{{ consulta.horario }}</td><td>R${{ consulta.precoOriginal }}</td> 
           </tr> 
        {% empty %} 
            <tr><th colspan="4">Ainda não tem consultas cadastradas</th></tr> 
        {% endfor %} 
    </table>
{% endblock%}
{% block script %}
<script>
    $(document).ready(function()
    {
    $("tr:odd").css({
        "background-color":"#dff"});
    });
</script>
{% endblock %}